* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: letra coffe;
    src: url(../tipografia/Coffee\ Extra.ttf);
}

body {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-rows: 5cm, 5cm, 5cm;

}

main{
    grid-area: main;
    font-family: letra coffe; 
    background-image: url(https://wallpaperaccess.com/full/4070873.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

footer{
    grid-area: footer; 
    display: flex;
    justify-content: space-around;
    font-family: letra coffe;
    color: black;
    background-color: #26272b;
}

#visor-presentaci贸n {
    text-align: center;
}
.presentaci贸n {
    color: white;
    animation: presentaci贸n 1s 1;
}

@keyframes presentaci贸n {
 
    0%{
      opacity: 0;
    }
    
    50% {
      opacity: 0.3;
    } 
  
    70% {
      opacity: 0.6;
    } 
    
}
.info {
    display: inline-block;
    background-color: black;
    color: white;
    animation: info 1s 1;
}
@keyframes info {
 
    0%{
      opacity: 0;
    }
    
    50% {
      opacity: 0.3;
    } 
  
    70% {
      opacity: 0.6;
    } 
}
h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: azure;
    background-color: brown
}

h3 {
    display: inline-block;
    color: black;
    background-color: aquamarine;
}

div img {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    color: black;
}

.contacto1 {
    display: inline-block;
    color: white;
    background-color: black;
    animation: contacto1 1s 1;
}
@keyframes contacto1 {
 
    0%{
      opacity: 0;
    }
    
    50% {
      opacity: 0.3;
    } 
  
    70% {
      opacity: 0.6;
    } 
}
.mail {
    color: rgb(95, 125, 160);
}

.pnosotros {
    color: none;
}

.novedades1 {
    display: inline-block;
    color: cornsilk;
    background-color: black;
    animation: novedades1 1s 1;
}
@keyframes novedades1 {
 
    0%{
      opacity: 0;
    }
    
    50% {
      opacity: 0.3;
    } 
  
    70% {
      opacity: 0.6;
    } 
}

p.planes {
    color:white;
    font-size: 1cm;
}
div p.div2 {
    color:white;
    font-size: 1cm;
}
div h2{
    background-color: rgb(22, 20, 20);
    font-size: 1cm;
}
p.planstan {
    color:white;
    font-size: 0.7cm;
}

div p.planpremium {
    color:white;
    font-size: 0.7cm;
}

div p.div1m {
    color:white;
    font-size: 1cm;
}
div p.div2b {
    color:white;
    font-size: 1cm;
}
div p.div3c {
    color:white;
    font-size: 1cm;
}
div p.div4d {
    color:white;
    font-size: 1cm;
}
div p.div5e {
    color:white;
    font-size: 1cm;
}
.grid-item1 {
    color: white;
    font-size: 0.7cm;

}

.grid-item2 {
    color: white;
    font-size: 0.7cm;
}
.grid-item3 {
    color: white;
    font-size: 0.7cm;
}
.beneficios {
    display: inline-block;
    background-color: black;
    color: white;
    animation: beneficios 1s 1;
}
@keyframes beneficios {
 
    0%{
      opacity: 0;
    }
    
    50% {
      opacity: 0.3;
    } 
  
    70% {
      opacity: 0.6;
    } 
}
strong{
    background-color: rgba(255, 255, 255, 0.347);
    color: black;
    font-size: 1cm;
}

.card-title {
    display: inline-block;
    background-color: black;
    color: white;
}
ul.socialIcons {
    padding: 0;
    text-align: center;
  }
  
  .socialIcons li {
    background-color: yellow;
    list-style: none;
    display: inline-block;
    margin: 4px;
    border-radius: 2em;
    overflow: hidden;
 }
  
  .socialIcons li a {
    display: block;
    padding: 1.5em;
    min-width: 1.28571429em;
    max-width: 1.28571429em;
    height: 1.28571429em;
    white-space: nowrap;
    line-height: 1.5em; 
    transition: 0.5s;
    text-decoration: none;
    font-family: arial;
    color: #fff;
  }
  
  .socialIcons li i {
    margin-right: 0.5em;
  }
  
  .socialIcons li:hover a {
    max-width: 200px;
    padding-right: 2em;
  }
  
  .socialIcons .facebook {
    background-color: #3b5998;
    box-shadow: 0 0 16px #3b5998;
  }
  
  .socialIcons .twitter {
    background-color: #00aced;
    box-shadow: 0 0 16px #00aced;
  }
  
  .socialIcons .instagram {
    background-color: #cd486b;
    box-shadow: 0 0 16px #cd486b;
  }
.sobre-nosotros-texto {
    color: white;
}
